version: 2.0
jobs:
  deploy:
    parallelism: 3
    machine:
      enabled: true
    working_directory: /home/circleci/postgres
    environment:
      DOCKER_IMAGE=circleci/postgres-script-enhance

   steps:
     - checkout

     - run:
         name: Build image
         command: docker build -t $DOCKER_IMAGE .

      - run:
          name: Tag and deploy image to docker hub
          command: |
            SHORT_SHA=$(git rev-parse --short HEAD)
            VERSION="0.1.${CIRCLE_BUILD_NUM}-${SHORT_SHA}"
    - run:
        name: Registry
        command: |
                    ls

workflows:
  version: 2
  deploy:
    jobs:
    - deploy:
        filters:
          branches:
            only: server-2.19
