version: 2.0
jobs:
  deploy:
    machine:
      enabled: true
    working_directory: /home/circleci/postgres
    environment:
      DOCKER_IMAGE=circleci/postgres-script-enhance
    resource_class: large

    steps:
      - checkout

      - run:
          name: Build image
          command: docker build -t $DOCKER_IMAGE .

      - run:
          name: Tag and deploy image to docker hub
          command: |
            lscpu

workflows:
  version: 2
  deploy:
    jobs:
      - deploy:
          filters:
            branches:
              only: server-2.19
